.gradient-custom {
    background: #b17629;
 
    background: -webkit-linear-gradient(to right, rgb(203, 144, 17), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgb(203, 160, 17), rgba(37, 117, 252, 1))
  }

  .card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .form-outline {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-label {
    position: absolute;
    top: 0.75rem;
    left: 1.25rem;
    transition: all 0.3s;
    opacity: 0.65;
  }
  
  .form-control:focus ~ .form-label,
  .form-control:not(:placeholder-shown) ~ .form-label {
    top: -0.5rem;
    left: 0.75rem;
    font-size: 0.75rem;
    opacity: 1;
    background: #343a40;
    padding: 0 0.5rem;
  }
  /*jose trejo  20491190